@media screen and (max-width: 767px)
  .side-nav
    display: none

  .info-modal
    display: none
  .info-modal__text-box
    width: 267px
    height: 141px
    right: 10%
  .info-modal__close
    width: 40px
    height: 40px
    top: -18%
    left: 90%
  @keyframes diagonal-mov
    100%
      transform: translateY(180%) translateX(-70%)

  .hero
    position: relative
  .hero__logo
    background-size: 60%
  .hero__cover
    background-position: center
  .hero--retract
    transform: translateY(0)

  .play__cover-slogan, .play__cover-console
    height: 80vw
    background:
      position: center
  .play__cover-console
    .text-effect
      padding-top: 18%
      font-size: 3rem
      opacity: 1
  .play__slogan
    bottom: -10%
    img
      width: 90%
    .text-effect
      opacity: 1
  .play__grid
    height: 100vw
    padding: 0
  .play__img-group-wrapper
    height: 50%
    width: 100%
    &:first-child
      margin-bottom: 0
    &:last-child
      margin-top: 0
  .play__img-group-wrapper-top
    .play__img-wrapper
      display: block
      height: 50%
      width: 100%
  .grid-playing-img-0
    padding-right: 0
  .grid-playing-img-3
    padding: 0 0
  .grid-graphics-img-2
    padding-right: 0
  .grid-graphics-img-3
    padding-right: 0
  .play__grid-graphics
    padding-bottom: 20%
  .play__grid-modal-more-btn
    width: 10%
    height: 10%
    bottom: 0
    right: 0
    left: 0
    margin: 0 auto
    transform: translateY(-50%)
  .play__grid-modal-close-btn
    width: 15%
    height: 15%
    bottom: 0
    right: 5%
    top: 7.5%
  .play__grid-modal-slider-progress
    bottom: -1%
  .play__grid-modal-slider-progress-bar-wrapper
    height: 7px
    width: 25px

  .peripherals__hero
    overflow: hidden
    padding-bottom: 0
    padding-top: 10vh
    height: 55vh
  .peripherals__title
    font-size: 2.2rem
  .peripherals__img-gb
    img
      width: 45%
      height: auto
  .peripherals__img-snes-top
    img
      width: 100%
      height: auto
  .peripherals__img-snes-bt
    bottom: 0px
    img
      width: 100%
      height: auto

  .peripherals__sliders
    padding: 0 0
    padding-bottom: 5vh
    height: auto
    width: 100%

  .peripherals__slider
    float: none
    height: 60vh
    width: 100%
    padding: 0 0
    margin-bottom: 10%

  .peripherals__slider-img-wrapper
    text-align: center
    margin: 0 auto
    height: 100%
    width: 90%

  .peripherals__slider-img
    height: 90%
    right: 0
    top: 0
    background:
      size: auto 100%
  .peripherals__slider-text
    position: absolute
    bottom: 0
    height: 10%
    margin: 0
    padding: 0
    p
      font-size: 1.2rem
  .peripherals__slider-legend
    bottom: 12%
    p
      font-size: 1.5rem
