<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1100 1200">
  <g class="svg-arrow-up" transform="translate(0 -140.717)">
    <g >
      <path class="svg-arrow-up-g5 svg-arrow-up-g" style="opacity:1;fill-opacity:1;stroke-width:10;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none" d="M450.2 140.7h200v200h-200z"/>
    </g>
    <g  transform="translate(0 -26.925)">
      <path class="svg-arrow-up-g4 svg-arrow-up-g" style="opacity:1;fill-opacity:1;stroke-width:10;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none" d="M223 392.6h200v200H223zM649.5 392.6h-200v200h200zM877.5 392.6h-200v200h200z"/>
    </g>
    <g  transform="translate(0 -54.782)">
      <path class="svg-arrow-up-g3 svg-arrow-up-g" style="opacity:1;fill-opacity:1;stroke-width:10;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none" d="M0 645.5h200v200H0zM423 645.5H223v200h200zM649.5 645.5h-200v200h200zM1100.4 645.5h-200v200h200zM677.5 645.5h200v200h-200z"/>
    </g>
    <g  transform="translate(0 -79.782)">
      <path class="svg-arrow-up-g2 svg-arrow-up-g" style="opacity:1;fill-opacity:1;stroke-width:10;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none" d="M200 895.5H0v200h200zM423 895.5H223v200h200zM900.4 895.5h200v200h-200zM677.5 895.5h200v200h-200z"/>
    </g>
    <g  transform="translate(0 -107.64)">
      <path class="svg-arrow-up-g1 svg-arrow-up-g" style="opacity:1;fill-opacity:1;stroke-width:10;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none" d="M200 1148.4H0v200h200zM900.4 1148.4h200v200h-200z"/>
    </g>
  </g>
</svg>
