section.peripherals
  div.peripherals__hero
  div.peripherals__sliders
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div#peripherals-slider-0-img-0.peripherals__slider-img-0
        div#peripherals-slider-0-img-1.peripherals__slider-img-1
        div#peripherals-slider-0-img-2.peripherals__slider-img-2
      div.peripherals__slider-legend
      div.peripherals__slider-text
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div#peripherals-slider-1-img-0.peripherals__slider-img-0
        div#peripherals-slider-1-img-1.peripherals__slider-img-1
        div#peripherals-slider-1-img-2.peripherals__slider-img-2
      div.peripherals__slider-legend
      div.peripherals__slider-text
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div#peripherals-slider-2-img-0.peripherals__slider-img-0
        div#peripherals-slider-2-img-1.peripherals__slider-img-1
        div#peripherals-slider-2-img-2.peripherals__slider-img-2
      div.peripherals__slider-legend
      div.peripherals__slider-text
