section.main-footer
  div.main-footer__img
  div.main-footer__ad
    div.main-footer__logo
      img.main-footer__logo-img(src="/img/logo-snes.svg")
    div.main-footer__price
      h2 1993.3.30<span>date price</span>299,99<span>US$</span>
