div.controller
  div.controller__header
    div.controller__left--side
      img(src="http://placehold.it/350x250")
    div.controller__middle
      img(src="http://placehold.it/350x250")
      div.controller__title
        h2 Introduces The Shoulder Buttons
    div.controller__right--side
      img(src="http://placehold.it/350x250")
  div.controller__detail-img
    div.controller__pad-img
    div.controller__holding-controller-img
    p.controller__detail-text Six action buttons with Left and Right triggers add new input combinations
  div.controller__about
    div.controller__quote
      h2 "Nintendo’s next trend-setting" - IGN
    div.controller__info--wrapper
      div.controller__info.controller__info-top
        p.controller__info-top-title "X" and "Y"
        p.controller__info-top-text Not just two buttons on the face of the controller, but four. "A" and "B" for the original buttons, and "X" and "Y", named after axis alignment planes. Like the Game Boy, the buttons were offset diagonally.
      div.controller__info.controller__info-bottom
        p.controller__info-bottom-title Beyond NES
        p.controller__info-bottom-text The directional pad wasn’t Nintendo’s sole contribution to controller design. Aping the NES controller’s basic layout, the Super NES controller had four variable action buttons.

