section.games
    div.games__wrapper
      div.games__title
        img.games__logo(src="http://placehold.it/350x250")
      div.games__sliders
        div.games__slider-img-wrapper
          img.games__slider-img#games__slider-0(src="http://placehold.it/350x250")
        div.games__slider-img-wrapper
          img.games__slider-img#games__slider-1(src="http://placehold.it/350x250")
        div.games__slider-img-wrapper
          img.games__slider-img#games__slider-2(src="http://placehold.it/350x250")
        div.games__slider-img-wrapper
          img.games__slider-img#games__slider-3(src="http://placehold.it/350x250")
        div.games__slider-img-wrapper
          img.games__slider-img#games__slider-4(src="http://placehold.it/350x250")
        div.games__slider-img-wrapper
          img.games__slider-img#games__slider-5(src="http://placehold.it/350x250")
      div.games__bg-characters
        div.games__bg-character#games__bg-character-0
        div.games__bg-character#games__bg-character-1
        div.games__bg-character#games__bg-character-2
        div.games__bg-character#games__bg-character-3
        div.games__bg-character#games__bg-character-4
        div.games__bg-character#games__bg-character-5
