section.play
  div.play__cover-slogan
    div.play__slogan
      p Now you're playing with power
      h1 <span>SUPER</span>POWER!
  div.play__grid-top
    div.play__grid-more-btn
    div.play__grid-top-wrapper
      div#grid-top-img-0.play__top-img
      div#grid-top-img-1.play__top-img
      div#grid-top-img-2.play__top-img
      div#grid-top-img-3.play__top-img
      div#grid-top-img-4.play__top-img
    div.play__grid-modal
      div.play__grid-modal-close-btn
      div.play__grid-modal-slider
        div.play__grid-modal-slide-wrapper
          div.play__grid-modal-slide
            img.play__grid-modal-slider-img
          div.play__grid-modal-slide
            img.play__grid-modal-slider-img
          div.play__grid-modal-slide
            img.play__grid-modal-slider-img
          div.play__grid-modal-slide
            img.play__grid-modal-slider-img
        div.play__grid-modal-slider-progress
          div.play__grid-modal-slider-progress-bar
          div.play__grid-modal-slider-progress-bar
          div.play__grid-modal-slider-progress-bar
          div.play__grid-modal-slider-progress-bar
  div.play__cover-console
    h3 Advanced graphics <br>and sound capabilities.
  div.play__grid-bottom
    div#grid-bottom-img-0.play__bottom-img
    div#grid-bottom-img-1.play__bottom-img
    div#grid-bottom-wrapper.play__bottom-wrapper
      div#grid-bottom-img-2.play__bottom-img.play__bottom-wrapper-img
      div#grid-bottom-img-3.play__bottom-img.play__bottom-wrapper-img
      div#grid-bottom-img-4.play__bottom-img.play__bottom-wrapper-img
