section.controller
  div.controller__title-wrapper
    h1.controller__title-text The Joy-Pad
    p.controller__title-sub Smooth handling evolution
  div.controller__detail-img
    img.controller__pad-img(src="/img/controller/controller-display.png")
    div.controller__holding-controller-img
    p.controller__detail-text Six action buttons with Left and Right triggers add new input combinations
  div.controller__about
    div.controller__quote
      h2 "Nintendo’s next trend-setting" - IGN
    div.controller__info--wrapper
      div.controller__info.controller__info-top
        div.controller__info-title
          span "X" and "Y"
        p.controller__info-text.controller__info-top-text Not just two buttons on the face of the controller, but four. "A" and "B" for the original buttons, and "X" and "Y", named after axis alignment planes. Like the Game Boy, the buttons were offset diagonally.
      div.controller__info.controller__info-bottom
        img.controller__info-nes-icon(src="img/controller/nes-controller.png")
        div.controller__info-title
          span Beyond NES
        p.controller__info-text.controller__info-bottom-text The directional pad wasn’t Nintendo’s sole contribution to controller design. Aping the NES controller’s basic layout, the Super NES controller has four variable action buttons.

