section.play
  div.play__cover-slogan
    div.play__overlay
    div.play__slogan
      p.text-effect Now you're playing with power
      h1 <span>SUPER</span>POWER!
  div.play__grid.play__grid-playing
    div.play__grid-wrapper
      div.play__img-group-wrapper
        div.play__img-wrapper.grid-playing-img-0
          div.play__img
            div.play__img-overlay
        div.play__img-wrapper.grid-playing-img-1
          div.play__img
      div.play__img-group-wrapper
        div.play__img-wrapper.grid-playing-img-2
          div.play__img
            div.play__img-overlay
        div.play__img-wrapper.grid-playing-img-3
          div.play__img
            div.play__img-overlay
        div.play__img-wrapper.grid-playing-img-4
          div.play__img
            div.play__img-overlay
  div.play__cover-console
    h3.text-effect Advanced graphics <br>and sound capabilities.
  div.play__grid.play__grid-graphics
    div.play__grid-wrapper
      div.play__img-group-wrapper
        div.play__img-wrapper.grid-graphics-img-0
          div.play__img
            div.play__img-overlay
        div.play__img-wrapper.grid-graphics-img-1
          div.play__img
      div.play__img-group-wrapper
        div.play__img-wrapper.grid-graphics-img-2
          div.play__img
            div.play__img-overlay
        div.play__img-wrapper.grid-graphics-img-3
          div.play__img
            div.play__img-overlay
        div.play__img-wrapper.grid-graphics-img-4
          div.play__img
            div.play__img-overlay
    div#modal.play__grid-modal
      div#modal-close.play__grid-modal-close-btn
      div#modal-curtain.play__grid-modal-curtain
      div.play__grid-modal-slider
        div.play__grid-modal-slide-wrapper
          div.play__grid-modal-slide
            div.play__grid-modal-slider-img.play__grid-modal-slider-img-1
          div.play__grid-modal-slide
            div.play__grid-modal-slider-img.play__grid-modal-slider-img-2
          div.play__grid-modal-slide
            div.play__grid-modal-slider-img.play__grid-modal-slider-img-3
          div.play__grid-modal-slide
            div.play__grid-modal-slider-img.play__grid-modal-slider-img-4
        div.play__grid-modal-slider-progress
          div.play__grid-modal-slider-progress-bar-wrapper
            div.play__grid-modal-slider-progress-bar(data-position="1")
          div.play__grid-modal-slider-progress-bar-wrapper
            div.play__grid-modal-slider-progress-bar(data-position="2")
          div.play__grid-modal-slider-progress-bar-wrapper
            div.play__grid-modal-slider-progress-bar(data-position="3")
          div.play__grid-modal-slider-progress-bar-wrapper
            div.play__grid-modal-slider-progress-bar(data-position="4")
