section.hero
  div.hero__covers
    div#hero-cover-0.hero__cover
    div#hero-cover-1.hero__cover.hero__cover-hide
    div#hero-cover-2.hero__cover.hero__cover-hide
    div#hero-cover-3.hero__cover.hero__cover-hide
  div#hero-curtain.hero__curtain
  div.hero__logo
  div.hero__arrow-down
