section.games
    div.games__wrapper
      div.games__title
        img.games__logo(src="/img/logo-snes.svg")
        span.games__title-text Cartridges
      div.games__sliders-wrapper
        div.games__sliders
      div.games__bg-characters
        div.games__bg-character#games__bg-character-0.games__bg-character--show
        div.games__bg-character#games__bg-character-1
        div.games__bg-character#games__bg-character-2
        div.games__bg-character#games__bg-character-3
        div.games__bg-character#games__bg-character-4
        div.games__bg-character#games__bg-character-5
        div.games__bg-character#games__bg-character-6
        div.games__bg-character#games__bg-character-7
