section.site-footer
  div.site-footer__credits
    img.site-footer__logo(src="img/logo-nintendo.svg")
    span.site-footer__made-by.site-footer__made-by-text A Fan Made Website
    span.site-footer__made-by.site-footer__made-by-snes Super Nintendo
  div#arrow-up.site-footer__arrow-up ^
