section.peripherals
  div#peripherals-hero.peripherals__hero
    div.peripherals__title
      h1 Peripherals
    div.peripherals__img-gb
      img#gb-cart(src="/img/peripherals/hero/peripherals-hero-gb.png")
    div.peripherals__img-snes-top
      img(src="/img/peripherals/hero/peripherals-hero-adapter-top.png")
    div.peripherals__img-snes-bt
      img(src="/img/peripherals/hero/peripherals-hero-adapter-bt.png")
  div.peripherals__sliders
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div.peripherals__slider-img.peripherals__slider-img-0.peripherals__slider-img--position-2#peripherals__slider-img-0-1
        div.peripherals__slider-img.peripherals__slider-img-1.peripherals__slider-img--position-0#peripherals__slider-img-1-1
        div.peripherals__slider-img.peripherals__slider-img-2.peripherals__slider-img--position-1#peripherals__slider-img-2-1
      div.peripherals__slider-legend
        p legend 1
      div.peripherals__slider-text
        p this is my text number ONE about something something console peripherals or other stuff i just don't know yet
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div.peripherals__slider-img.peripherals__slider-img-0.peripherals__slider-img--position-2#peripherals__slider-img-0-2
        div.peripherals__slider-img.peripherals__slider-img-1.peripherals__slider-img--position-0#peripherals__slider-img-1-2
        div.peripherals__slider-img.peripherals__slider-img-2.peripherals__slider-img--position-1#peripherals__slider-img-2-2
      div.peripherals__slider-legend
        p legend 2
      div.peripherals__slider-text
        p this is my text number TWO about something something console peripherals or other stuff i just don't know yet
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div.peripherals__slider-img.peripherals__slider-img-0.peripherals__slider-img--position-2#peripherals__slider-img-0-3
        div.peripherals__slider-img.peripherals__slider-img-1.peripherals__slider-img--position-0#peripherals__slider-img-1-3
        div.peripherals__slider-img.peripherals__slider-img-2.peripherals__slider-img--position-1#peripherals__slider-img-2-3
      div.peripherals__slider-legend
        p legend 3
      div.peripherals__slider-text
        p this is my text number TRHEE about something something console peripherals or other stuff i just don't know yet
