section.peripherals
  div#peripherals-hero.peripherals__hero
    div.peripherals__img
      img#gb-cart(src="http://placehold.it/350x250")
    div.peripherals__img
      img#snes-cart(src="http://placehold.it/350x250")
  div.peripherals__sliders
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div.peripherals__slider-img.peripherals__slider-img-0
        div.peripherals__slider-img.peripherals__slider-img-1
        div.peripherals__slider-img.peripherals__slider-img-2
      div.peripherals__slider-legend
        p legend 1
      div.peripherals__slider-text
        p this is my text number ONE about something something console peripherals or other stuff i just don't know yet
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div.peripherals__slider-img.peripherals__slider-img-0
        div.peripherals__slider-img.peripherals__slider-img-1
        div.peripherals__slider-img.peripherals__slider-img-2
      div.peripherals__slider-legend
        p legend 2
      div.peripherals__slider-text
        p this is my text number TWO about something something console peripherals or other stuff i just don't know yet
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div.peripherals__slider-img.peripherals__slider-img-0
        div.peripherals__slider-img.peripherals__slider-img-1
        div.peripherals__slider-img.peripherals__slider-img-2
      div.peripherals__slider-legend
        p legend 3
      div.peripherals__slider-text
        p this is my text number TRHEE about something something console peripherals or other stuff i just don't know yet
