section.games
  div.games__title
    img.games__logo
    div.games__text
  div.games__sliders
    div.games__slider#games__slider-0
    div.games__slider#games__slider-1
    div.games__slider#games__slider-2
    div.games__slider#games__slider-3
    div.games__slider#games__slider-4
    div.games__slider#games__slider-5
  div.games__bg-characters
    div.games__bg-character#games__bg-character-0
    div.games__bg-character#games__bg-character-1
    div.games__bg-character#games__bg-character-2
    div.games__bg-character#games__bg-character-3
    div.games__bg-character#games__bg-character-4
    div.games__bg-character#games__bg-character-5
