section.section-hero
  div.section-hero__covers
    div#cover-1.section-hero__cover
    //- div#cover-2.section-hero__cover
    //- div#cover-3.section-hero__cover
    //- div#cover-4.section-hero__cover
  div.section-hero__curtain.section-hero__curtain--show
  div.section-hero__logo
  div.section-hero__arrow-down
