section.peripherals
  div.peripherals__hero
    div#bg-cart.peripherals__img
      img(src="http://placehold.it/350x250")
    div#snes-cart.peripherals__img
      img(src="http://placehold.it/350x250")
  div.peripherals__sliders
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div#peripherals-slider-0-img-0.peripherals__slider-img-0
        div#peripherals-slider-0-img-1.peripherals__slider-img-1
        div#peripherals-slider-0-img-2.peripherals__slider-img-2
      div.peripherals__slider-legend
        p legend 1
      div.peripherals__slider-text
        p this is my text number ONE about something something console peripherals or other stuff i just don't know yet
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div#peripherals-slider-1-img-0.peripherals__slider-img-0
        div#peripherals-slider-1-img-1.peripherals__slider-img-1
        div#peripherals-slider-1-img-2.peripherals__slider-img-2
      div.peripherals__slider-legend
        p legend 2
      div.peripherals__slider-text
        p this is my text number TWO about something something console peripherals or other stuff i just don't know yet
    div.peripherals__slider
      div.peripherals__slider-img-wrapper
        div#peripherals-slider-2-img-0.peripherals__slider-img-0
        div#peripherals-slider-2-img-1.peripherals__slider-img-1
        div#peripherals-slider-2-img-2.peripherals__slider-img-2
      div.peripherals__slider-legend
        p legend 3
      div.peripherals__slider-text
        p this is my text number TRHEE about something something console peripherals or other stuff i just don't know yet
