section.hero
  div.hero__covers
    div#cover-1.hero__cover
    //- div#cover-2.hero__cover
    //- div#cover-3.hero__cover
    //- div#cover-4.hero__cover
  div.hero__curtain.hero__curtain--show
  div.hero__logo
  div.hero__arrow-down
