section.controller
  div.controller__title-wrapper
    h1.controller__title-text The Joy-Pad
    p.controller__title-sub Smooth handling evolution
  div.controller__detail-img
    img.controller__pad-img(src="/img/controller/controller-display.png")
    img.controller__cable-img(src="/img/controller/cable-montage.png")
    div.controller__holding-controller-img
    div.controller__detail-text-wrapper
      p.controller__detail-text Six action buttons with Left and Right triggers add new input combinations <br> which accommodated any and all types of gameplay
  div.controller__about
    div.controller__quote
      h2 "Nintendo’s next trend-setting" - IGN
    div.controller__info--wrapper
      div.controller__info.controller__info-top
        div.controller__info-title
          span Shoulder Buttons
        p.controller__info-text.controller__info-top-text Now with a rounded base, to align more naturally with the way gamers actually held controllers. And ergonomic look: the Super NES controller invites your index fingers to partake in gameplay with the introduction of the L and R shoulder buttons.
      div.controller__info.controller__info-bottom
        img.controller__info-nes-icon(src="img/controller/nes-controller.png")
        div.controller__info-title
          span Beyond NES
        p.controller__info-text.controller__info-bottom-text The shoulder buttons aren't Nintendo’s sole contribution to the design. Aping the NES controller’s basic layout, the Super NES controller has four variable action buttons on the face of the controller: A, B, X and Y.

