section.play
  div.play__cover-slogan
    div.play__overlay
    div.play__slogan
      p.text-effect Now you're playing with power
      h1 <span>SUPER</span>POWER!
  div.play__grid-bottom
    div.play__grid-bottom-imgs.play__grid-imgs
      div.play__bottom-wrapper-tp.play__grid-wrapper
        div#grid-bottom-img-0.play__bottom-img.play__grid-img.play__grid-blackout
        div#grid-bottom-img-1.play__bottom-img.play__grid-img(data-effect="no")
      div.play__bottom-wrapper-bt.play__grid-wrapper
        div#grid-bottom-img-2.play__bottom-img.play__bottom-wrapper-bt-img.play__grid-img.play__grid-blackout
        div#grid-bottom-img-3.play__bottom-img.play__bottom-wrapper-bt-img.play__grid-img.play__grid-blackout
        div#grid-bottom-img-4.play__bottom-img.play__bottom-wrapper-bt-img.play__grid-img.play__grid-blackout
  div.play__cover-console
    h3.text-effect Advanced graphics <br>and sound capabilities.
  div.play__grid-top
    div#modal-open.play__grid-more-btn
    div.play__grid-top-imgs.play__grid-imgs
      div.top-wrapper.play__grid-wrapper
        div#grid-top-img-0.play__top-img.play__grid-img.play__grid-blackout
        div#grid-top-img-1.play__top-img.play__grid-img(data-effect="no")
        div#grid-top-img-2.play__top-img.play__grid-img.play__grid-blackout
        div#grid-top-img-3.play__top-img.play__grid-img.play__grid-blackout
        div#grid-top-img-4.play__top-img.play__grid-img.play__grid-blackout
    div#modal.play__grid-modal
      div#modal-close.play__grid-modal-close-btn
      div#modal-curtain.play__grid-modal-curtain
      div.play__grid-modal-slider
        div.play__grid-modal-slide-wrapper
          div.play__grid-modal-slide
            div.play__grid-modal-slider-img.play__grid-modal-slider-img-1
          div.play__grid-modal-slide
            div.play__grid-modal-slider-img.play__grid-modal-slider-img-2
          div.play__grid-modal-slide
            div.play__grid-modal-slider-img.play__grid-modal-slider-img-3
          div.play__grid-modal-slide
            div.play__grid-modal-slider-img.play__grid-modal-slider-img-4
        div.play__grid-modal-slider-progress
          div.play__grid-modal-slider-progress-bar-wrapper
            div.play__grid-modal-slider-progress-bar(data-position="1")
          div.play__grid-modal-slider-progress-bar-wrapper
            div.play__grid-modal-slider-progress-bar(data-position="2")
          div.play__grid-modal-slider-progress-bar-wrapper
            div.play__grid-modal-slider-progress-bar(data-position="3")
          div.play__grid-modal-slider-progress-bar-wrapper
            div.play__grid-modal-slider-progress-bar(data-position="4")
