section.main-footer
  div.main-footer__img
  div.main-footer__ad
    div.main-footer__logo
      img.main-footer__logo-img(src="/img/logo-snes.svg")
    div.main-footer__price
      h2 <span>on</span>1993.3.30<span> price</span>199<span>US$</span>
