div.controller
  div.controller__header
    div.controller__left--side
      img(src="http://placehold.it/350x250")
    div.controller__middle
      img(src="http://placehold.it/350x250")
      div.controller__title
        h2 Introduces The Shoulder Buttons
    div.controller__right--side
      img(src="http://placehold.it/350x250")
  div.controller__detail-img
    div.controller__pad-img
    div.controller__holding-controller-img
    p Six action buttons with Left and Right triggers add new input combinations
  div.controller__about
