section.play
  div.play__cover-slogan
    div.play__slogan
      p Now you're playing with power
      h1 <span>SUPER</span>POWER!
  div.play__grid-top
  div.play__cover-console
  div.play__grid-bottom
