.side-nav__grid-wrapper
  display: inline-block
  background-color: rgba(0,0,0,0.2)
  padding: 14px 7px 0 7px
  position: fixed
  right: 0
  top: 50%
  transform: perspective(1px) translateY(-60%)
  z-index: 3000

.side-nav__item
  cursor: pointer
  border: white solid 2px
  list-style: none
  width: 9px
  height: 9px
  margin-bottom: 11px
  background-color: white
  transition: background-color 0.3s ease-in-out
  &:last-child
    margin-bottom: 11px
  &:before
    font-weight: bold
    visibility: hidden
    opacity: 0
    font-size: 0.6rem
    line-height: 1
    position: relative
    padding: 4px
    padding-right: 24px
    margin-right: -24px
    float: right
    right: 18px
    bottom: 6px
    background: linear-gradient(to left, transparent -24px, transparent 20px, #F8A91C 20px, #F8A91C 100%)
    transition: opacity 0.3s ease-out
    &:hover
      visibility: visible
      opacity: 1
  &:hover:before
    visibility: visible
    opacity: 1

#side-item-0
  &:before
    content: 'Top'

#side-item-1
  &:before
    content: 'Play'

#side-item-2
  &:before
    content: 'Peripherals'

#side-item-3
  &:before
    content: 'Controller'

#side-item-4
  &:before
    content: 'Games'

.side-nav__grid--check-1
  li:nth-child(1)
    background-color: black
.side-nav__grid--check-2
  li:nth-child(2)
    background-color: black
.side-nav__grid--check-3
  li:nth-child(3)
    background-color: black
.side-nav__grid--check-4
  li:nth-child(4)
    background-color: black
.side-nav__grid--check-5
  li:nth-child(5)
    background-color: black
