.side-nav__grid-wrapper
  display: inline-block
  background-color: rgba(0,0,0,0.2)
  padding: 14px 10px 0 10px
  position: fixed
  right: 0
  top: 50%
  transform: perspective(1px) translateY(-60%)
  z-index: 3000

.side-nav__item
  cursor: pointer
  border: white solid 3px
  list-style: none
  width: 11px
  height: 11px
  margin-bottom: 20px
  background-color: black
  &:last-child
    margin-bottom: 0
  &:before
    font-weight: bold
    visibility: hidden
    opacity: 0
    font-size: 0.7rem
    position: relative
    padding: 5px
    padding-right: 25px
    margin-right: -20px
    float: right
    right: 18px
    bottom: 10px
    background: linear-gradient(to left, transparent -20px, transparent 20px, #F8A91C 20px, #F8A91C 100%)
    transition: all 0.3s ease-out
    &:hover
      visibility: visible
      opacity: 1
  &:hover:before
    visibility: visible
    opacity: 1

#side-item-0
  &:before
    content: 'Top'

#side-item-1
  &:before
    content: 'Play'

#side-item-2
  &:before
    content: 'Peripherals'

#side-item-3
  &:before
    content: 'Controller'

#side-item-4
  &:before
    content: 'Games'
