.play__grid-bottom-imgs
  background-color: black
  position: relative
  font-size: 0
  padding: 6px 6px
  width: 100%
  height: 50vw

.play__bottom-wrapper-tp, .play__bottom-wrapper-bt
  width: 100%
  height: 50%

.play__bottom-img
  height: 50%
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-image: url("http://placehold.it/350x250")
  border: solid black 6px

#grid-bottom-img-0
  height: 100%
  width: 70%

#grid-bottom-img-1
  width: 30%
  border-top: solid black 12px
  border-right: solid black 12px
  position: absolute
  right: 0
  top: 0

.play__bottom-wrapper-bt-img
  float: right
  height: 100%
  width: 33.3333%
