.peripherals__hero
  padding-top: 20vh
  padding-bottom: 70vh
  overflow: hidden
  position: relative
  height: 70vh
  text-align: center

.peripherals__title
  text-align: center
  top: 8%
  left: 0
  right: 0
  margin: 0 auto
  position: absolute
  font-weight: bold
  font-size: 3rem
  margin-bottom: 2vh

.peripherals__img-gb
  z-index: 200
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  transform: translateY(-25vh)

.peripherals__img-snes-top
  margin: 0 auto
  position: relative
  z-index: 100
  bottom: -28px
  left: 0
  right: 0

.peripherals__img-snes-bt
  margin: 0 auto
  position: relative
  z-index: 300
  bottom: 28px
  left: 0
  right: 0

.peripherals__img--insert-cart
  transform: translateY(29.5vh)
  transition: all 1.5s ease-in-out
