.play__cover-console
  text-align: center
  text-align: center
  overflow: hidden
  height: 100vh
  width: 100%
  background-image: url("../img/play/play-bg-bt.jpg")
  background-size: cover
  background-position: center center
  background-attachment: fixed
  h3
    opacity: 0
    font-size: 3.5rem
    color: white
    padding-top: 45vh
