.controller
  width: 100%

.controller__hero
  text-align: center
  width: 100%
  &:after
    content: ""
    display: table
    clear: both

.controller__d-pad
  transform: translateY(-50px)
  width: 33.333%
  float: left

.controller__hero-img
  height: 100%
  width: 100%

.controller__d-pad--translation
  transform: translateY(0)
  transition: all 0.7s ease-in-out

.controller__middle
  width: 33.333%
  float: left

.controller__buttons
  transform: translateY(50px)
  width: 33.333%
  float: left

.controller__buttons--translation
  transform: translateY(0)
  transition: all 0.7s ease-in-out

.controller__detail-img
  position: relative

.controller__pad-img
  position: absolute
  height: 32vw
  width: 45%
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-image: url("http://placehold.it/350x250")

.controller__holding-controller-img
  margin-right: 24px
  height: 35vw
  margin-left: 35%
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-image: url("../img/controller/controller-in-hand-m04.png")

.controller__detail-text
  position: relative
  margin-top: 24px
  text-align: right
  margin-right: 24px

.controller__about
  background:
    image: url("../img/controller/roll-bg-m01.jpg")
    repeat: repeat-X
    size: 60%
  width: 100%
  padding: 64px 5%
  animation: slide-controller 60000s linear infinite;
  &:after
    content: ""
    display: table
    clear: both

@keyframes slide-controller
  0%
    background-position: 0
  100%
    background-position: -1000000px

.controller__quote
  padding-right: 5%
  float: left
  width: 50%
  margin-top: 15vh
  h2
    font-size: 3.2rem
    color: red

.controller__info--wrapper
  float: right
  width: 50%

.controller__info
  line-height: 1.4rem

.controller__info-title
  display: inline-block
  background-color: red
  padding: 4px 16px
  margin-bottom: 36px
  span
    font-weight: bold
    font-size: 1.2rem
    color: white

.controller__info-top
  margin-bottom: 64px

.controller__info-bottom-text
  padding-left: 150px
  height: 140px
  background-image: url("http://placehold.it/350x250")
  background-size: 140px auto
  background-repeat: no-repeat
