.main-footer__img
  position: relative
  background-image: url("../img/price/snes-footer-price.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center 60%
  padding-top: 58%

.main-footer__ad
  background-color: #2A86FF
  height: 65vh
  position: relative
  text-align: center

.main-footer__logo-img
  width: 20%
  height: 20%
  margin-top: 10vh

.main-footer__price
  position: absolute
  bottom: 10vh
  left: 0
  right: 0
  h2
    color: white
    font-weight: bold
    font-size: 3.4rem
    letter-spacing: 0.2rem
  span
    font-size: 1.4rem
