.controller
  padding-top: 10vh
  width: 100%

.controller__title-wrapper
  text-align: center
  width: 440px
  margin: 0 auto

.controller__title-text
  font-size: 6rem
  color: #DA4537
  border-bottom: solid 4px #DA4537
  border-radius: 25%

.controller__title-sub
  letter-spacing: 0.1rem
  color: black
  font-size: 1.8rem
  margin-top: 16px

.controller__detail-img
  margin-top: 84px
  position: relative
  height: 55vw

.controller__pad-img
  transform: rotate(30deg) translateX(-20%) translateY(-4%)
  position: absolute
  height: 55vw
  width: auto

.controller__cable-img
  position: absolute
  height: 37vw
  width: auto
  transform: rotate(5deg) translateX(-15%) translateY(80%)

.controller__holding-controller-img
  margin-right: 24px
  height: 35vw
  margin-left: 35%
  margin-right: 40px
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-image: url("../img/controller/holding-controller.jpg")

.controller__detail-text
.controller__detail-text-wrapper
  width
  text-align: right
  margin-top: 1%
  margin-right: 42px

.controller__about
  margin-bottom: 64px
  margin-top: 16px
  background:
    image: url("../img/controller/roll-bg.png")
    repeat: repeat-X
    size: contain
  width: 100%
  padding: 64px 128px
  animation: slide-controller 60000s linear infinite;
  &:after
    content: ""
    display: table
    clear: both

@keyframes slide-controller
  0%
    background-position: 0
  100%
    background-position: -1000000px

.controller__quote
  padding-right: 5%
  float: left
  width: 50%
  margin-top: 22vh
  h2
    font-size: 4rem
    color: #DA4537

.controller__info--wrapper
  float: right
  width: 50%

.controller__info
  position: relative
  line-height: 1.4rem

.controller__info-title
  letter-spacing: 0.05rem
  border-radius: 4px
  display: inline-block
  background-color: #DA4537
  padding: 12px 18px
  margin-bottom: 25px
  span
    line-height: 1
    font-weight: bold
    font-size: 1.5rem
    color: white

.controller__info-top
  margin-bottom: 64px

.controller__info-text
  text-align: justify
  line-height: 1.6

.controller__info-bottom-text
  padding-left: 155px

.controller__info-nes-icon
  position: absolute
  height: 160px
  left: -14px
  width: auto
  top: 65px
