.play__grid-modal
  height: 100%
  width: 100%
  position: relative

.play__grid-modal-close-btn
  z-index: 20
  position: absolute
  width: 60px
  height: 60px
  background-color: gold
  top: 24px
  right: 12px

.play__grid-modal-slider
  overflow: hidden

.play__grid-modal-slide-wrapper
  padding-top: 8%
  padding-bottom: 8%
  margin-right: -150vw
  margin-left: 20vw

.play__grid-modal-slide
  display: inline-block
  width: 50vw
  height: 100%

.play__grid-modal-slider-img
  object-fit: cover
  width: 100%
  height: auto

.play__grid-modal-slider-progress
  position: absolute
  bottom: 12px
  left: 50%
  transform: translateX(-50%)

.play__grid-modal-slider-progress-bar
  height: 4px
  width: 20px
  background-color: red
  display: inline-block
  margin: 0 4px
