.play__cover-slogan
  text-align: center
  overflow: hidden
  position: relative
  height: 120vh
  width: 100%
  background-image: url("../img/Picture4.jpg")
  background-size: cover
  background-attachment: fixed

.play__slogan
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  position: absolute
  color: white
  bottom: 15%
  h1
    font-size: 5.6rem
  p
    font-size: 1.6rem
  span
    font-style: italic
    color: red
