.peripherals
  background-color: #FFC41F
  width: 100%

.peripherals__sliders
  padding: 16px 32px 0 32px
  height: 45vw
  width: 100%

.peripherals__slider
  position: relative
  text-align: center
  float: left
  width: 33.333%
  height: 100%
  padding: 0 8px

.peripherals__slider-img-wrapper
  height: 70%
  overflow: hidden
  background: transparent
  position: relative

.peripherals__slider-img
  position: absolute
  width: 100%
  height: 100%
  transition: transform 1s ease-in-out
  background:
    size: cover
    repeat: no-repeat
    position: center

.peripherals__slider-img-0
  z-index: 30

.peripherals__slider-img--position-0
  z-index: 30
  transform: translateX(100%)
.peripherals__slider-img--position-1
  opacity: 0
  z-index: 20
.peripherals__slider-img--position-2
  z-index: 10

#peripherals__slider-img-0-1
  background-image: url("/img/peripherals/slide/gb1.jpg")
#peripherals__slider-img-1-1
  background-image: url("/img/peripherals/slide/gb2.png")
#peripherals__slider-img-2-1
  background-image: url("/img/peripherals/slide/gb3.jpg")
#peripherals__slider-img-0-2
  background-image: url("/img/peripherals/slide/mouse3.jpg")
#peripherals__slider-img-1-2
  background-image: url("/img/peripherals/slide/mouse2.png")
#peripherals__slider-img-2-2
  background-image: url("/img/peripherals/slide/mouse1.png")
#peripherals__slider-img-0-3
  background-image: url("/img/peripherals/slide/superscope1.jpg")
#peripherals__slider-img-1-3
  background-image: url("/img/peripherals/slide/superscope2.png")
#peripherals__slider-img-2-3
  background-image: url("/img/peripherals/slide/superscope3.png")

.peripherals__slider-legend
  z-index: 100
  position: absolute
  height: 50px
  background-color: black
  color: white
  left: 10%
  right: 10%
  bottom: 26%

.peripherals__slider-text

  margin-top: 20%
  margin-bottom: 12px

