.controller
  width: 100%

.controller__header
  border: solid purple 2px
  text-align: center
  width: 100%
  &:after
    content: ""
    display: table
    clear: both

.controller__left--side
  width: 33.333%
  border: solid red 2px
  float: left

.controller__middle
  width: 33.333%
  border: solid green 2px
  float: left

.controller__right--side
  width: 33.333%
  border: solid blue 2px
  float: left

.controller__detail-img
  position: relative
  border: solid yellow 2px

.controller__pad-img
  position: absolute
  height: 32vw
  width: 45%
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-image: url("http://placehold.it/350x250")

.controller__holding-controller-img
  margin-right: 24px
  height: 35vw
  margin-left: 35%
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-image: url("http://placehold.it/350x250")

.controller__detail-text
  position: relative
  margin-top: 24px
  text-align: right
  margin-right: 24px
