.peripherals
  width: 100%

.peripherals__sliders
  display: inline-block
  width: 100%
  border: solid green 2px

.peripherals__slider
  position: relative
  text-align: center
  float: left
  border: solid red 2px
  width: 33.333%
  height: 100%
  padding: 0 12px

.peripherals__slider-img-wrapper
  background-color: grey
  height: 25vw

.peripherals__slider-legend
  position: absolute
  height: 50px
  background-color: black
  color: white
  left: 10%
  right: 10%
  top: 23vw

.peripherals__slider-text
  margin-top: 20%
  margin-bottom: 12px
