.peripherals__hero
  padding-top: 35vh
  padding-bottom: 90vh
  overflow: hidden
  position: relative
  height: 70vh
  text-align: center
.peripherals__img-gb
  z-index: 200
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  transform: translateY(-40vh)
.peripherals__img-snes-top
  margin: 0 auto
  position: relative
  z-index: 100
  bottom: 0
  left: 0
  right: 0
.peripherals__img-snes-bt
  margin: 0 auto
  position: relative
  z-index: 300
  top: -48px
  left: 0
  right: 0
.peripherals__img--insert-cart
  transform: translateY(40vh)
  transition: all 1.5s ease-in-out
