.games
  position: relative
  padding-top: 52vw
  background-color: black

.games__wrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.games__title
  top: 10%
  left: 4%
  position: relative
  z-index: 30
  height: 15vw

.games__logo
  display: inline-block
  height: 60%
  margin-top: -25px
.games__title-text
  margin-left: 3%
  color: white
  font-size: 7.5rem
  letter-spacing: 0.2rem
  vertical-align: middle

.games__sliders-wrapper
  position: relative
  z-index: 10
  overflow: hidden

.games__sliders
  height: 25vw
  margin-top: 6%
  background:
    image: url("../img/games/roll-bg-m03.png")
    repeat: repeat
    size: cover
  width: 100%
  animation: slide-games 35000s linear infinite;

@keyframes slide-games
  0%
    background-position: 0
  100%
    background-position: -1000000px

.games__bg-characters
  position: absolute
  z-index: 20
  height: 100%
  left: 45%
  top: 0
  bottom: 0
  right: 0

.games__bg-character
  position: absolute
  opacity: 0
  height: 100%
  width: 100%
  background:
    repeat: no-repeat
    size: cover
  transition: all 0.8s cubic-bezier(0.4, 0.05, 0.5, 1)

.games__bg-character--show
  opacity: 1

#games__bg-character-0
  background-image: url("../img/games/dk.png")
#games__bg-character-1
  background-image: url("../img/games/samus.png")
#games__bg-character-2
  background-image: url("../img/games/fzero.png")
#games__bg-character-3
  background-image: url("../img/games/chunli.png")
#games__bg-character-4
  background-image: url("../img/games/link.png")
#games__bg-character-5
  background-image: url("../img/games/mega.png")
#games__bg-character-6
  background-image: url("../img/games/fox.png")
#games__bg-character-7
  background-image: url("../img/games/mario.png")
