.play__grid-modal
  position: absolute
  z-index: 30
  visibility: hidden
  opacity: 0
  height: 100%
  width: 100%
  top: 0
  left: 0
  background-color: black
  transition: all 0.5s ease-in-out
  &:after
    transition: opacity 0.8s ease-in-out
    opacity: 1
    pointer-events: none
    z-index: 300
    content: ""
    width: 100%
    height: 100%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: black

.play__grid-modal--show
  opacity: 1
  visibility: visible
  &:after
    opacity: 0

.play__grid-modal-close-btn
  cursor: pointer
  z-index: 20
  position: absolute
  width: 60px
  height: 60px
  background:
    image: url('../img/play/close-btn.png')
    size: cover
    repeat: no-repeat
  top: 24px
  right: 12px

.play__grid-modal-curtain
  pointer-events: none
  position: absolute
  opacity: 1
  top: 50%
  transform: translateY(-50%)
  height: 0
  width: 100%
  margin: 0 auto
  background-color: black
  z-index: 100
  transition: height 0.4s ease-in, opacity 2s ease-in-out

.play__grid-modal-curtain--close
  height: 100%
  opacity: 0

.play__grid-modal-slider
  height: 100%
  overflow: hidden

.play__grid-modal-slide-wrapper
  height: 100%
  padding-top: 8%
  padding-bottom: 8%
  margin-right: -150vw
  margin-left: 25vw
  transform: translateX(0)
  transition: transform 0.6s cubic-bezier(0.445,0.05,0.55,0.95)

.play__grid-modal-slide
  font-size: 0
  margin-right: 1vw
  display: inline-block
  width: 49vw
  height: 100%

.play__grid-modal-slider-img
  width: 100%
  height: 100%
  background:
    size: cover
    repeat: no-repeat
    position: center

.play__grid-modal-slider-img-1
  background-image: url("../img/play/modal/slide1.jpg")
.play__grid-modal-slider-img-2
  background-image: url("../img/play/modal/slide2.png")
.play__grid-modal-slider-img-3
  background-image: url("../img/play/modal/slide3.jpg")
.play__grid-modal-slider-img-4
  background-image: url("../img/play/modal/slide4.png")

.play__grid-modal-slider-progress
  position: absolute
  bottom: 8%
  left: 50%
  transform: translateX(-50%)

.play__grid-modal-slider-progress-bar-wrapper
  border: solid grey 1px
  transform: rotate(-35deg)
  overflow: hidden
  border-radius: 5px
  cursor: pointer
  height: 12px
  width: 40px
  display: inline-block
  margin: 4px 5px
  background-color: white

.play__grid-modal-slider-progress-bar
  width: 100%
  height: 100%

.play__grid-modal-slider-progress-bar--animate-bg
  background-color: #6E6F6E
  opacity: 1
  transform: translateX(-100%)
  animation: change-bg 4.4s ease-in-out

@keyframes change-bg
  0%
    opacity: 1
    transform: translateX(-100%)
  90%
    opacity: 1
  100%
    opacity: 0
    transform: translateX(0)
