@import 'base/normalize.scss'
@import 'base/reset.scss'

html, body
  height: 100%
  width: 100%

body
  overflow-x: hidden
  overflow-y: scroll
  font-family: 'Teko', sans-serif

h1, h2, h3, p, ul
  margin: 0
  padding: 0

p
  font-size: 1.3rem

.main
  position: relative

@import 'modules/info-modal.sass'
@import 'modules/nav-side-nav.sass'
@import 'modules/section-hero.sass'
@import 'modules/section-play-cover-slogan.sass'
@import 'modules/section-play-grid-modal.sass'
@import 'modules/section-play-cover-console.sass'
@import 'modules/section-play-grid.sass'
@import 'modules/section-peripherals-hero.sass'
@import 'modules/section-peripherals-sliders.sass'
@import 'modules/section-controller.sass'
@import 'modules/section-main-footer.sass'
@import 'modules/section-games.sass'
@import 'modules/section-site-footer.sass'

