@import 'base/normalize.scss'
@import 'base/reset.scss'

@import 'modules/section-hero.sass'
@import 'modules/section-play-cover-one.sass'

html, body
  height: 100%
  width: 100%

h1, h2, h3, p, ul
  margin: 0
  padding: 0
