@import 'base/normalize.scss'
@import 'base/reset.scss'

html, body
  height: 100%
  width: 100%

h1, h2, h3, p, ul
  margin: 0
  padding: 0

.main
  position: relative

@import 'modules/nav-side-nav.sass'
@import 'modules/section-hero.sass'
@import 'modules/section-play-cover-slogan.sass'
@import 'modules/section-play-grid-top.sass'
@import 'modules/section-play-grid-modal.sass'
@import 'modules/section-play-cover-console.sass'
@import 'modules/section-play-grid-bottom.sass'
@import 'modules/section-peripherals-hero.sass'
@import 'modules/section-peripherals-sliders.sass'
@import 'modules/section-controller.sass'
@import 'modules/section-main-footer.sass'
@import 'modules/section-games.sass'
@import 'modules/section-site-footer.sass'

